/* pt-sans-regular - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/PTSans.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/PTSans.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-sans-700 - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/PTSans-Bold.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/PTSans-Bold.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-dark: #333333;
  --basic-blue: #81B3D2;
  --basic-grey: #EEEEEE;
  --special-dark: #888888;
  /*form */
  --basic-brown: #766357;
  --basic-cream: #F2F2F2;
  /*hover focus */
  --special-blue-1: #669EC0;
  --special-blue-2: #5496BD;
  --special-brown-1: #604E43;
  --special-brown-2: #503E33;
  --special-cream-1: #EBEBEB;
  --special-cream-2: #E5E5E5;
  --special-cream-3: #CFCFCF;
  --special-dark-1: #ABABAB;
  /*copyright */
  --special-black: #231F20;
  --special-grey: #BDBBBC;
}

.page {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-dark);
  background-color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;
}

/*Header styles start*/

a {
  text-decoration: none;
}

.main-nav {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.header-nav,
.benefits-list,
.social-list,
.facilities-list,
.hotel-type-list,
.sorting-list,
.hotels-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-link {
  color: var(--basic-black);
}

.header-link:hover {
  color: var(--basic-blue);
}

.header-link:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.header-link-current:visited {
  color: var(--basic-brown);
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.structure {
  display: grid;
  grid-template-rows:
    56px 1fr 120px;
  min-height: 100%;
}

.main-header {
  z-index: 1;
}

.main-nav {
  display: flex;
  flex-direction: column;
}

.header-nav {
  display: flex;
  justify-content: space-around;
  height: 56px;
  align-items: center;

}

.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  align-self: center;
}

.header-nav :nth-child(2) {
  padding-right: 131px;
}

.header-nav :nth-child(3) {
  padding-left: 131px;
}

/*Header styles end*/

/*Main styles start*/

.feature-title,
.title-second-level {
  display: none;
}

.feature-title-pic {
  height: 509px;
  margin-bottom: 42.5px;
  position: relative;
}

.welcome-title-pic {
  position: absolute;
  top: 77px;
  left: 371px;
}

.main-intro {
  margin-bottom: 51px;
}

.feature-intro {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.benefits-benefit {
  display: flex;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.benefits-benefit div {
  width: 400px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 25px 0 40px;
}

.house-pic {
  width: 800px;
  margin-left: auto;
}

.canyon-pic {

  order: -1;
  width: 800px;
}

.benefit-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.benefits-ordinary {
  margin: 60px 0 82px;
}

.benefits-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.benefits-content {
  height: 256px;
  padding-top: 26px;
  margin-bottom: 58px;
  background-color: var(--basic-grey);
}

/* Visit form styles start*/

.visit-intro {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}

.button-search {
  margin-top: 24px;
  width: 568px;
  height: 86px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-brown);
  color: var(--basic-white);
  border: none;
}

.button-search:hover {
  background-color: var(--special-brown-1);
  border: none;
}

.button-search:focus {
  background-color: var(--special-brown-2);
  outline: none;
}

.button-search:focus span {
  opacity: 0.3;
}

.visit {
  position: relative;
  margin-bottom: 78px;
}

.visit-form {
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black)
}

.visit-form-wrapper {
  width: 568px;
  margin: 0 auto;
  padding: 0 55px;
  background-color: var(--basic-white);
  padding-top: 55px;
  z-index: 1;
}

.map {
  position: absolute;
  top: 220px;
  left: 0;
  z-index: -1;
}

.button-search-inner {
  width: 458px;
  height: 58px;
  background-color: var(--basic-blue);
  margin-bottom: 55px;
}

.button-search-inner:hover {
  background-color: var(--special-blue-1);
}

.button-search-inner:focus {
  background-color: var(--special-blue-2);
}

.button-search-inner:focus span {
  opacity: 0.3;
}

.visit-form input {
  height: 38px;
  font: inherit;
  text-transform: inherit;
  background-color: var(--basic-cream);
  border: none;
}

.visit-form label {
  padding-top: 6px;
}

.visit-date-arrival,
.visit-date-leaving {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.visit-date-arrival input,
.visit-date-leaving input {
  width: 346px;
  padding-left: 13px;
  margin-bottom: 30px;
}

.calendar-link {
  position: absolute;
  right: 9px;
  top: 7px;
}

.calendar-link:hover path {
  fill: var(--basic-black)
}

.calendar-link:focus path {
  fill: var(--basic-blue)
}


.visit-adults-teens {
  display: flex;
  justify-content: space-between;
}

.visit-adults {
  width: 114px;
  position: relative;
  margin-bottom: 30px;
}

.visit-teens {
  width: 114px;
  position: relative;
}


.visit-adults input,
.visit-teens input {
  width: 100%;
  padding-left: 55px;
}

.visit-adults .minus-link,
.visit-teens .minus-link {
  position: absolute;
  top: 4px;
  left: 10px;
}

.visit-adults .plus-link,
.visit-teens .plus-link {
  position: absolute;
  top: 6px;
  right: 10px;
}

.minus-link:hover rect,
.plus-link:hover path {
  fill: var(--basic-black);
}

.minus-link:focus rect,
.plus-link:focus path {
  fill: var(--basic-blue);
}

.visit-form input:hover {
  background-color: var(--special-cream-1);
}

.visit-form input:focus {
  background-color: var(--basic-white);
  outline: none;
  border: 2px solid;
  border-color: var(--special-cream-2);
}

/* Visit form styles end */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filters {
  padding: 12.5px 60px 0;
  height: 217px;
  background-color: var(--basic-blue);
  background-image: url(../img/form-background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  color: var(--basic-white);

}

.legend-name {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 16px;
}

.hotel-filter {
  display: grid;
  grid-template-columns: auto 400px 1fr;
  padding-left: 40px;
}

.facilities,
.hotel-type {
  border: none;
}

.facilities .legend-name {
  margin-left: -40px;
}

.facilities-list {
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 20px;
  padding-top: 20px;
}

.facilities-item {
  justify-self: start;
}

.facilities-item label,
.hotel-type-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox:not(:checked)+label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 23px;
  height: 23px;
  border: 2px solid;
  border-radius: 2px;
  border-color: var(--basic-white);
}

.filter-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -40px;
  width: 27px;
  height: 23px;
  background-image: url(../img/icons/checkbox-on.svg);
  background-position: 0 0;
}

.hotel-type {
  justify-content: start;
}

.hotel-type .legend-name {
  margin-left: -60px;
}

.hotel-type-list {
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 20px;
  padding-top: 20px;
}

.hotel-type-item {
  justify-self: start;
  margin-left: 120px;
}


/* Price controls styles start */

.price {
  justify-self: end;
  border: none;
}

.range-filter {
  margin-top: 10.5px;
}

.price-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  border: 2px solid;
  border-color: var(--basic-white);
  border-radius: 2px;
  width: 317px;
  height: 36px;
  margin-bottom: 20px;
}

.price-controls .min-price {
  width: max-content;
  margin-left: 50px;
}

.price-controls .max-price {
  width: max-content;
  margin-right: 10px;
}

.price-controls input {
  width: 50px;
  color: var(--basic-white);
  background-color: transparent;
  border: none;
}

.separate-min-max {
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
}

.range-controls {
  position: relative;
  margin-bottom: 33px;
}

.scale {
  height: 2px;
  background-color: var(--basic-white);
  opacity: 0.3;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 248px;
  height: 2px;
  background-color: var(--basic-white);
}

.toggle {
  position: absolute;
  top: -9.5px;
  left: -9.5px;
  width: 19px;
  height: 19px;
  padding: 0;
  border: 8px solid;
  border-color: var(--basic-white);
  background-color: var(--special-dark-1);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--special-cream-3);
  cursor: pointer;
}

.toggle-max {
  left: 233px;
}

.price-button {
  width: 137px;
  height: 36px;
  font: inherit;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: transparent;
  border: 2px solid;
  border-color: var(--basic-white);
  border-radius: 2px;
  justify-self: center;
}

.price-button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* Price controls styles end */


/* Catalog sorting styles start */
.sorting {
  display: flex;
  height: 86px;
  align-items: center;
  padding: 0 70px;
  margin: 0;
}


.sorting-result {
  margin-right: 46px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.sorting-title {
  margin-right: 40px;
  font-size: 12px;
  line-height: 18px;
  padding: 10px;
}

.sorting-list {
  display: flex;
  font-size: 12px;
  line-height: 18px;
}

.sorting-item-link {
  margin-right: 40px;
  color: var(--basic-black);
}

.sorting-item-link span {
  opacity: 0.3;
  border-bottom: 1px dotted;
  border-color: var(--basic-blue);
}

.sorting-item-link:hover span {
  color: var(--basic-blue);
  border-bottom: 1px dotted;
  border-color: var(--basic-blue);
  opacity: 1;
}

.sorting-item-link:focus span {
  color: var(--basic-blue);
  border: none;
  opacity: 1;
}

.sorting-item-link:active span {
  color: var(--basic-black);
  border: none;
  opacity: 1;
}

.sort-link-up-down {
  display: flex;
  margin-left: auto;
}

.sort-link-up {
  margin-right: 12px;
}

.sort-link-down {
  transform: rotate(180deg);
}

.sort-link-down {
  transform: rotate(180deg);
}

.sort-link-up:hover path,
.sort-link-down:hover path {
  fill: var(--basic-black);
}

.sort-link-up:focus path,
.sort-link-down:focus path {
  fill: var(--basic-blue);
}

.sort-link-down-current path {
  fill: var(--basic-blue);
}

/* Catalog sorting styles end */

/* Catalog hotels list styles start */

.hotels-item {
  height: 150px;
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr 127px;
  padding: 0 70px;
  border-top: 1px solid;
  border-color: var(--special-cream-2);
}

.hotels-item:last-child {
  border-bottom: 1px solid;
  border-color: var(--special-cream-2);
}

.hotels-item:nth-child(1)::after {
  content: "";
  position: absolute;
  top: 29px;
  right: 0;
  width: 91px;
  height: 17px;
  background-image: url(../img/icons/4-stars-icon.svg);
  margin-right: 71px;
}

.hotels-item:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 29px;
  right: 0;
  width: 66px;
  height: 17px;
  background-image: url(../img/icons/2-stars-icon.svg);
  margin-right: 71px;
}

.hotels-item:last-child::after {
  content: "";
  position: absolute;
  top: 29px;
  right: 0;
  width: 42px;
  height: 17px;
  background-image: url(../img/icons/2-stars-icon.svg);
  margin-right: 71px;
}

.hotels-pic {
  grid-column: 1/2;
  align-self: center;
  margin-right: 29px;
}

.hotels-info {
  height: 90px;
  grid-column: 2/3;
  justify-self: start;
  align-self: center;
  margin-top: -15px;
}

.hotels-info h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 7px;
}

.hotels-name {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.hotels-name-price {
  padding: 0;
  margin: 0;
  margin-bottom: 15.5px;
}

.hotels-more-book {
  padding: 0;
  margin: 0;
}

.hotels-rating {
  padding: 0;
  margin: 0;
  grid-column: 3/4;
  align-self: end;
  margin-bottom: 30px;
}

.hotels-name:hover {
  color: var(--basic-blue);
}

.hotels-name:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.rating {
  padding: 3px 15px;
  background-color: var(--basic-cream);
}

.button-more {
  width: 110px;
  height: 27px;
  font-weight: bold;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  text-transform: uppercase;
  border: none;
}

.button-more:hover {
  background-color: var(--special-blue-1);
  color: var(--basic-white);
}

.button-more:focus {
  background-color: var(--special-blue-2);
  color: var(--basic-white);
  outline: none;
}

.button-book {
  width: 142px;
  height: 27px;
  font-weight: bold;
  background-color: var(--basic-brown);
  color: var(--basic-white);
  text-transform: uppercase;
  border: none;
}

.button-book:hover {
  background-color: var(--special-brown-1);
  color: var(--basic-white);
}

.button-book:focus {
  background-color: var(--special-brown-2);
  color: var(--basic-white);
  outline: none;
}

/*Main styles end*/

/*Footer styles start*/

.main-footer .wrapper {
  height: 120px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: var(--basic-white);
  opacity: 0.8;
  z-index: 1;
}

.footer-contacts {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.footer-social {
  justify-self: center;
}

.footer-phone {
  color: inherit
}

.social-list {
  display: flex;
}

.background-icon {
  display: flex;
}

.social-button {
  width: 46px;
  height: 48px;
  justify-content: center;
  background-color: var(--basic-blue);
  margin-right: 10px;
}

.social-button img {
  height: 48px;
  align-items: center;
}

.social-button:hover {
  background-color: var(--special-blue-1);
}

.social-button:focus {
  background-color: var(--special-blue-2);
}

.social-button:focus img {
  opacity: 0.3;
}

.footer-copyright {
  display: flex;
  font: inherit;
  line-height: 26px;
  margin: 0;
}

.footer-copyright span {
  margin-right: 8px;
  align-self: center;
}

.button-copyright:hover path {
  fill: var(--basic-blue)
}

.button-copyright:focus path {
  fill: var(--special-grey)
}


/*Footer styles end*/
