/* pt-sans-regular - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/PTSans.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/PTSans.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-sans-700 - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/PTSans-Bold.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/PTSans-Bold.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-dark: #333333;
  --basic-blue: #81B3D2;
  --basic-grey: #EEEEEE;
  --special-dark: #888888;
  /*form */
  --basic-brown: #766357;
  --basic-cream: #F2F2F2;
  /*hover focus */
  --special-blue-1: #669EC0;
  --special-blue-2: #5496BD;
  --special-brown-1: #604E43;
  --special-brown-2: #503E33;
  --special-cream: #EBEBEB;
  --special-grey: #E5E5E5;
  /*copyright */
  --special-black: #231F20;
  --special-grey: #BDBBBC;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-dark);
  background-color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;
}

/*Header styles start*/

a {
  text-decoration: none;
}

.main-nav {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.header-nav,
.benefits-list,
.social-list,
.facilities-list,
.hotel-type-list,
.sorting-list,
.hotels-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-link {
  color: var(--basic-black);
}

.header-link:hover {
  color: var(--basic-blue);
}

.header-link:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.header-link-current:visited {
  color: var(--basic-brown);
}


/*Header styles end*/

/*Main styles start*/


.wrapper {
  width: 1200px;
  margin: 0 auto;
}

/*
.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
*/

.feature-title,
.title-second-level {
  visibility: hidden;
}

.feature-intro {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.benefits-benefit {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.benefit-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.benefits-content {
  background-color: var(--basic-grey);
}

.visit-intro {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}

.button-search {
  width: 568px;
  height: 86px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-brown);
  color: var(--basic-white);
  border: none;
}

.button-search:hover {
  background-color: var(--special-brown-1);
  border: none;
}

.button-search:focus {
  background-color: var(--special-brown-2);
  outline: none;
}


.visit-form {
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black)
}

.button-search-inner {
  width: 458px;
  height: 58px;
  background-color: var(--basic-blue);
}

.button-search-inner:hover {
  background-color: var(--special-blue-1);
}

.button-search-inner:focus {
  background-color: var(--special-blue-2);
}

.visit-form input {
  font: inherit;
  text-transform: inherit;
  background-color: var(--basic-cream);
  border: none;
}

.visit-form input:hover {
  background-color: var(--special-cream);
}

.visit-form input:focus {
  background-color: var(--basic-white);
  outline: none;
  border: 2px solid;
  border-color: var(--special-grey);
}


.filters {
  background-color: var(--basic-blue);
  background-image: url(../img/form-background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  color: var(--basic-white);
}

.legend-name {
  font-weight: bold;
  font-size: 16px;
}

.price-button {
  font: inherit;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: transparent;
  border: 2px solid;
  border-color: var(--basic-white);
  border-radius: 2px;
}

.price-button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.sorting-result {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.sorting-title {
  font-size: 12px;
  line-height: 18px;
}

.sorting-list {
  font-size: 12px;
  line-height: 18px;
}

.sorting-item-link {
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: 2px dotted;
  border-color: var(--basic-blue);
}

.sorting-item-link:hover {
  color: var(--basic-blue);
  border-bottom: 2px dotted;
  border-color: var(--basic-blue);
  opacity: 1;

}

.sorting-item-link:focus {
  color: var(--basic-black);
  border: none;
  opacity: 1;
}

.sorting-item-link:active {
  color: var(--basic-blue);
  opacity: 1;
}

.hotels-name {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.hotels-name:hover {
  color: var(--basic-blue);
}

.hotels-name:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.rating {
  background-color: var(--basic-cream);
}

.button-more {
  width: 110px;
  height: 27px;
  font-weight: bold;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  text-transform: uppercase;
  border: none;
}

.button-more:hover {
  background-color: var(--special-blue-1);
  color: var(--basic-white);
}

.button-more:focus {
  background-color: var(--special-blue-2);
  color: var(--basic-white);
  outline: none;
}

.button-book {
  width: 142px;
  height: 27px;
  font-weight: bold;
  background-color: var(--basic-brown);
  color: var(--basic-white);
  text-transform: uppercase;
  border: none;
}

.button-book:hover {
  background-color: var(--special-brown-1);
  color: var(--basic-white);
}

.button-book:focus {
  background-color: var(--special-brown-2);
  color: var(--basic-white);
  outline: none;
}

/*Main styles end*/

/*Footer styles start*/

.footer-contacts {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.footer-phone {
  color: inherit
}

.footer-copyright {
  font: inherit;
  line-height: 26px;
}

.background-icon {
  display: flex;
  margin-bottom: 10px;
}

.social-button {
  width: 46px;
  height: 48px;
  align-items: center;
  justify-content: center;
  background-color: var(--basic-blue);
}

.social-button:hover {
  background-color: var(--special-blue-1);
}

.social-button:focus {
  background-color: var(--special-blue-2);
}

/*Footer styles end*/
